body {
	width: 99%; 
}

#menuBar div {
	position: relative;
	height: 80px;
}

#logo {
	content: url("../img/logo.png");
	position: relative;
	cursor: pointer;
	width: 90px;
	
}

#whoWeAre, #faq, #map, #assistance, #register, #login, #logout {
	height: 40px;
	top: 28px;
}

#welcomeAdm {
	position: fixed;
	height: 40px;
	font-family: "Tw Cen MT";
	font-weight: lighter; 
	font-size: 25px;
	color: white;
	background-color: #feac01;
	border-radius: 0px 0px 22px 22px;
	top: 0;
	z-index: 10;
}

 .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 150px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

#register, #login, #logout {
	position: relative;
	top: 20px;	
}

#register {
	float: right;
}

#faq > a {
	color: inherit;
}
