body {
	width: 99%; 
}

#menuBar div {
	position: relative;
	height: 80px;
}

#logo {
	position: absolute;
	cursor: pointer;
	height: 100%;
}

#whoWeAre, #faq, #map, #assistance, #register, #login, #logout {
	height: 40px;
	top: 28px;
}

#welcomeAdm {
	position: fixed;
	height: 40px;
	font-family: "Tw Cen MT";
	font-weight: lighter; 
	font-size: 25px;
	color: white;
	background-color: #feac01;
	border-radius: 0px 0px 22px 22px;
	top: 0;
	z-index: 10;
}
span {
	/* vertical-align: sub; */
}

#register, #login, #logout {
	position: relative;
	top: 20px;	
}

#register {
	float: right;
}

#faq > a {
	color: inherit;
}
