body {
	width: 99%; 
}

#menuBar div {
	position: relative;
}

#logo {
	content: url("../img/logo.png");
	position: relative;
	cursor: pointer;
	width: 90px;
}

#whoWeAre:hover, #faq>a:hover, #map:hover, #assistance:hover {
	text-decoration: none;
}

#faq > a {
	color: inherit;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #e4e4e4;
    border-radius: 30px;
    padding: 10px;
}

.searchbar:hover {
    width: 300px;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 80%;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon:not(:hover){
    background: white;
    color: #0080ff;
    text-decoration: none;
}

.search_icon {
	height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search_icon:hover { 
	background-color: #0080ff;
    color: white;
    text-decoration: none;
}

#welcomeAdm {
	background-color: #0080ff;
	color: white;
	font-weight: lighter;
}

#buttonAddProduct {
	background-color: #feac01;
	color: white;
	white-space: nowrap;	
}

#register, #buttonAddProduct {
	float: right;
}
