@charset "ISO-8859-1";


#title{
	position: relative;
	height: 30vh;
}

#title h1 {
	position: relative;
	margin-left: 42%;
}

#title p {
	position: relative;
	margin-left: 39%;
}

.imgTitle{
	position: relative;
	height: 250%;
	max-width: 100%;
	float: right;
	content: url("../img/graficoTitolo.png");
	top: -10vh;
}

#bestProduct{
	width: 60%;
	/* margin: 0 auto; */
	margin-left: 20%;
	text-align: center;
}

#imageProductContainer{
	float: left;
}


#divGraph{
	position:relative;
	padding-bottom: 10%;
	width: 450px;
	height: 450px;
  	margin: 0 auto;
}

#titleGraph{
	text-align: center;
	margin-top: 30px;
}