@charset "ISO-8859-1";

#title{
	position: relative;
	height: 30vh;
}

#title h1 {
	position: relative;
	left: 42%;
}

#title p {
	position: relative;
	left: 39%;
}

.imgTitle{
	position: relative;
	height: 250%;
	float: right;
	content: url("../img/graficoTitolo.png");
	top: -10vh;
}

#bestProduct{
	text-align: center;
}

#imageProductContainer{
	float: left;
}


#divGraph{
	position:relative;
	padding-bottom: 10%;
	text-align: center;
	padding-left:22%;
	width: 1000px;
	height: 450px;
}

#titleGraph{
		text-align: center;
		margin-top: 30px;
		
}